

html, body {
  height: 100%;
}

body {
  background-size: cover;
  background: url('./assets/tabBackground.jpg') no-repeat left top;
}

@font-face {
  font-family: 'Kuba_reczny';
  src: local('Kuba_reczny'), url('./fonts/Kuba_reczny_2005_1.3.ttf') format('truetype');
}
